:root {
    --card-red: #cc3843;
    --card-blue: #0c1f2c;
    --button: #cc3843;
    --color-white: #fff;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 16px;
}

.container {
    position: relative;
}

/* Contenedor red */

.container-red {
    position: relative;
    background: var(--card-red);
    width: 48rem;
    height: 55.3rem;
    border-radius: 2rem;
    padding: 2rem 0rem;
}

.img-logo {
    width: 60%;
    height: 100%;
    opacity: .5;
}

.img-casco {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 10rem;
    transform: translateY(-50%);
}

/* Contenedor blue */

.container-blue {
    position: absolute;
    top: 50%;
    left: 30rem;
    transform: translatey(-50%);
    background: var(--card-blue);
    width: 65.4rem;
    height: 47.9rem;
    border-radius: 2rem;
}

.content-info {
    margin: 0 auto;
    width: 50%;
}

.info-titulo {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--color-white);
    margin-bottom: 1rem;
}

.info-precio {
    margin-top: 1rem;
    font-size: 3.5rem;
    color: var(--color-white);
    font-weight: 100;
}

.content-tallas {
    margin-bottom: 3rem;
}

.tallas-titulo {
    text-transform: uppercase;
    color: var(--color-white);
}

.tallas-lista>li {
    display: inline;
    text-align: center;
    border: transparent solid 1px;
    border-radius: 50%;
    text-transform: uppercase;
    padding: .5rem;
}

.talla {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    color: var(--color-white);
}

.tallas-lista>li:hover {
    border: var(--button) solid 1px;
}

.agregar-boton {
    background: var(--button);
    padding: 1rem 2.4rem;
    height: 4.8rem;
    border-radius: 2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--color-white);
}